<configuration xmlns="http://logging.apache.org/log4php/">
    <appender name="myAppender" class="LoggerAppenderFile">
        <param name="file" value="C:/tmp/openEMRLog.log.txt" />
    </appender>
    <appender name="TimeAppender" class="LoggerAppenderRollingFile">
      <param name="File" value="/tmp/openEMRLog.time.log.txt"/>
      <param name="Append" value="false" />
      <param name="MaxFileSize" value="10MB"/>
      <param name="MaxBackupIndex" value="10"/>
      <layout class="LoggerLayoutPattern">
	      <param name="conversionPattern" value="%date{Y-m-d H:i:s} {%C.%M:%L} %-5level %msg%n" />
      </layout>
   </appender>
    <root>
        <level value="INFO" />
        <appender_ref ref="TimeAppender" />
    </root>
</configuration>